.box4{
    /* border: 1px red solid; */
    top: 105%;
    left: 15px;
    height: 37vh;
    width: 35vw;
}

.box4 .inner-box4{
    /* opacity: 0; */
    width: 100%;
    padding: 2% 0 0 0;
}

.inner-box4 label{
    text-decoration: underline;
    margin: 0 0 0 1.5%;
    padding: 0;
    font-size: clamp(10px, 2.3vw, 70px);
}

.inner-box4 p{
    margin: 1.5% 0 0 1.5%;
    padding: 0;
    font-size: clamp(10px, 1.6vw, 50px);
}