.box3{
    /* border: 1px red solid; */
    height: 45vh;
    width: 41vw;
    top: 22%;
    right: 15px;
}

.box3 .inner-box3{
    /* opacity: 0; */
    width: 100%;
    padding: 2% 0 0 0;
}

.inner-box3 label{
    text-decoration: underline;
    margin: 0 0 0 1.5%;
    padding: 0;
    font-size: clamp(10px, 2.3vw, 70px);
}

.completed-task {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: line-through;
}
  