.r-pic{
    overflow: scroll;
    /* border: 1px red solid; */
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.r-pic img{
    width: 50%;
    height: 150vh;
    opacity: 1 !important;
}
  
/* .r-pic {
  scrollbar-width: none; 
  -ms-overflow-style: none;
} */

/* .pg1{
    border-bottom: 10px solid transparent;
} */

.btns{
    /* border: 1px yellow solid; */
    width: 100vw;
    height: auto; 
}

.cv-btn{
    /* border: 1px blue solid; */
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: auto;
    /* height: 90px; */
    font-size: clamp(5px, 2vw, 25px);
    float: right;
}

.cv-btn a{
    /* border: black 1px solid; */
    background-color: gray;
    height: 100%;
    width: 100%;
}