.outer{
    background-color: transparent;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 3;
}

body{
    user-select: none;  
    background-color: transparent;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer, Edge */
    margin: 0px;
}

.body::-webkit-scrollbar { 
    display: none; /* Chrome, Safari, Opera */
}

@media (max-width: 425px){

    /* -------------------------------HOMEPAGE--------------------------------------- */

    /* .outer div{
        border: 1px red solid !important;
    } */

    .outer .inner{
        height: 18vh;
        width: 100vw;
        padding-top: 0%;
    }

    .outer .inner .h3{
        font-size: 6vw !important;
        height: fit-content;
    }

    .outer .inner p{
        font-size: 10px !important;
        margin: 5px 0 0 0 !important;
    }

    .resume, .contact, .overview, .certificate{
        height: 25vh !important;
        width: 99vw !important;
    }

    .resume{
        top: 18vh !important;
        display: grid;
        place-items: center;
        justify-content: start;
    }
    .contact{
        top: 43vh !important;
        display: grid;
        place-items: center;
        justify-content: start;
    }
    .overview{
        top: 68vh !important;
        display: grid;
        place-items: center;
        justify-content: start;
    }
    .certificate{
        top: 93vh !important;
        display: grid;
        place-items: center;
        justify-content: start;
    }

    .faq-button{
        top: 5vh !important;    
        left: 74vw !important;
        width: 15vw !important;   
    }

    .close-btn {
        width: 15vw !important;   
    }

    /* ------------------------------------------OVERVIEW-------------------------------------------- */
    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        overflow-y: auto;   /* Allow vertical scrolling */
        scrollbar-width: auto; /* Reset scrollbar for Firefox */
        -ms-overflow-style: auto; /* Reset scrollbar for Internet Explorer, Edge */
    }
    
    .outer {
        flex-direction: column !important; /* Ensure elements are stacked vertically */
        flex-wrap: nowrap !important; /* Prevent wrapping */
        overflow-x: hidden; /* Prevent horizontal overflow in this container */
    }

    .box2{
        display: none !important;
    }

    .box1, .box3, .box4, .box5, .box6{
        width: 99vw !important;
    }
    /* -------------------------------------------------- */
    body nav{
        flex-direction: column !important;
        height: 15vh !important;
        width: 99vw;
    }

    .nav1{
        flex-direction: row !important;
        flex-wrap: wrap;
        column-count: 2;
        justify-content: space-around !important;
        width: 99vw !important;
    }

    .outer .nav1 .box12, .box13, .box14, .box15, .box16 {
        height: 4vh;
        font-size: 4vw !important;
        width: 30vw;
        padding: 0% !important;
    }
    .outer .nav1 .box12{
        width: 12vw;
    }

    #root .outer .box11{
        height: 7vh;
        font-size: clamp(20px, 8vw, 30px) !important;
        width: 85vw;
        text-align: center !important;
    }
    /* --------------------------------------------------- */
    
    .box1 #list-cont{
        /* font-size: 5vw !important; */
        font-size: clamp(15px, 4vw, 30px) !important;
    }

    .box1 .inner-box1 label{
        font-size: 6vw !important;
    }
    /* ----------------------------------------- */

    .box3 .inner-box3 label{
        font-size: 6vw !important;
    }

    .box3 .inner-box3 span{
        /* font-size: 4vw !important; */
        font-size: clamp(15px, 3.5vw, 30px) !important;
    }
    .box3 #proj-list-cont{
        /* font-size: 5vw !important; */
        font-size: clamp(15px, 4vw, 30px) !important;
    }
    /* ------------------------------------------- */
    .box4 .inner-box4 label{
        font-size: 6vw !important;
    }
    
    .box4 .inner-box4 p{
        /* font-size: 5vw !important; */
        font-size: clamp(15px, 4vw, 30px) !important;
    }
    /* ------------------------------------------- */
    .box5 .inner-box5 label{
        font-size: 6vw !important;
    }
    
    .box5 .inner-box5 p{
        /* font-size: 5vw !important; */
        font-size: clamp(15px, 4vw, 30px) !important;
    }
    /* ------------------------------------------ */

    .box6 div{
        /* font-size: 5.5vw !important; */
        font-size: clamp(15px, 4vw, 30px) !important;
    }

    .box6 .fa-xl{
        font-size: clamp(15px, 5vw, 30px) !important;
    }
    
    /* ---------------------------------------RESUME------------------------------------ */

    .r-pic img{
        width: 75% !important;
        height: 150%;
    }

    .cv-btn{
        height: 3vh;
    }

    .cv-btn a{
        height: 3vh;
    }

    /* ------------------------------------CERTIFICATE--------------------------------------- */

    .c-pic img{
        width: 75% !important;
        height: 150%;
    }

    .c-btn{
        height: 3vh;
    }

    .c-btn a{
        height: 3vh;
    }

    /* ---------------------------------------Contact----------------------------------- */

    .c_outer .nav1 .box12, .box13, .box14, .box15, .box16 {
        height: 4vh;
        font-size: 4vw !important;
        width: 30vw;
        padding: 0% !important;
    }
    .c_outer .nav1 .box12{
        width: 12vw;
    }

    #root .c_outer .box11 {
        height: 7vh;
        /* font-size: 8vw !important; */
        font-size: clamp(20px, 8vw, 30px) !important;
        text-align: center !important;
        width: 85vw;
    }

    .div1{
        top: 16vh !important;
        height: 83vh !important;
        width: 99vw !important;
    }

    .div2{
        display: none ;
    }

}

@media (max-width: 350px) {
    .faq-button{
        width: 18vw !important;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 426px) and (max-width: 768px) {

    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        overflow-y: auto;   /* Allow vertical scrolling */
        scrollbar-width: auto; /* Reset scrollbar for Firefox */
        -ms-overflow-style: auto; /* Reset scrollbar for Internet Explorer, Edge */
    }
    
    .outer {
        flex-direction: column !important; /* Ensure elements are stacked vertically */
        flex-wrap: nowrap !important; /* Prevent wrapping */
        overflow-x: hidden; /* Prevent horizontal overflow in this container */
    }

    .box2{
        display: none !important;
    }

    .box1, .box3, .box4{
        width: 99vw !important;
    }

    body nav{
        flex-direction: column !important;
        height: 15vh !important;
        width: 99vw;
    }

    .nav1{
        flex-direction: row !important;
        flex-wrap: wrap;
        column-count: 2;
        justify-content: space-around !important;
        width: 99vw !important;
    }

    .outer .nav1 .box12, .box13 a, .box14 a, .box15 a, .box16 a {
        height: 4vh;
        /* border: 1px red solid !important; */
        font-size: clamp(15px, 4vw, 20px) !important;
        width: 30vw;
        padding: 0% !important;
    }
    .outer .nav1 .box12{
        width: 12vw;
    }

    #root .outer .box11 {
        /* border: 1px red solid; */
        height: 7vh;
        font-size: clamp(25px, 8vw, 35px) !important;
        width: 95vw;
        text-align: center;
    }

    .inner{
        padding-top: 15vh !important;
    }

    .faq-button{
        width: 15vw !important;
        top: 85vh !important;
    }
    
    /* -------------------------------------------------OVERVIEW------------------------------ */

    .box1 #list-cont{
        font-size: clamp(15px, 3vw, 50px) !important;
    }

    .box1 .inner-box1 label{
        font-size: clamp(25px, 4vw, 60px) !important;
    }
    
    /* ----------------------------------------- */

    .box3 .inner-box3 label{
        font-size: clamp(25px, 4vw, 60px) !important;
    }

    .box3 .inner-box3 span{
        font-size: clamp(15px, 2vw, 50px) !important;
    }
    .box3 #proj-list-cont{
        font-size: clamp(15px, 3vw, 50px) !important;
    }

    /* -------------------------------------------- */

    .box4 .inner-box4 label{
        font-size: clamp(25px, 4vw, 60px) !important;
    }
    
    .box4 .inner-box4 p{
        font-size: clamp(15px, 3vw, 50px) !important;
    }

    /* ------------------------------------------- */
    .box5{
        width: 99vw !important;
    }
    .box5 .inner-box5 label{
        font-size: clamp(25px, 4vw, 60px) !important;
    }
    
    .box5 .inner-box5 p{
        font-size: clamp(15px, 3vw, 50px) !important;
    }

    /* ----------------------------------------------- */

    .box6{
        width: 99vw !important;
    }

    .box6 div{
        font-size: clamp(15px, 3vw, 50px) !important;
    }

    /* ---------------------------------------------------HOMEPAGE--------------------------------------- */

    /* .outer div{
        border: 1px red solid !important;
    } */

    .outer .inner{
        width: 35vw !important;
        height: 100vh !important;
        padding-top: 20vh;
    }

    .outer .inner .h3{
        font-size: 35px !important;
        height: fit-content;
    }

    .outer .inner p{
        font-size: 20px!important;
    }

    .inner2{
        /* border: 2px blue solid !important; */
        position: absolute;
        /* height: 0px;
        width: 0px; */
    }

    .resume, .contact, .overview, .certificate{
        height: 25vh !important;
        width: 85vw !important;
        left: 35vw;
        display: grid;
        place-items: center;
    }

    .resume{
        top: 0 !important;
        justify-content: start;
    }
    .contact{
        top: 25vh !important;
        justify-content: start;
    }
    .overview{
        top: 50vh !important;
        justify-content: start;
    }
    .certificate{
        top: 75vh !important;
        justify-content: start;
    }
    /* ----------------------------------CONTACT------------------------------------- */

    .c_outer .nav1 .box12, .box13, .box14, .box15, .box16 {
        height: 4vh;
        font-size: clamp(15px, 4vw, 20px) !important;
        width: 30vw;
        padding: 0% !important;
    }

    /* .c_outer .nav1 .box12{
        width: 12vw;
    } */

    #root .c_outer .box11 {
        /* border: 1px red solid; */
        height: 7vh;
        font-size: clamp(25px, 8vw, 35px) !important;
        width: 95vw;
        text-align: center;
    }

    .div2{
        display: none ;
    }

    .div1{
        top: 16vh !important;
        height: 83vh !important;
        width: 99vw !important;
    }

    /* --------------------------------------RESUME-------------------------------------------------- */

    .r-pic img{
        width: 75% !important;
        height: 150%;
    }

    .cv-btn{
        /* border: yellow 1px solid !important; */
        height: clamp(5px, 8vw, 45px);
    }

    .cv-btn a{
        /* border: 1px red solid; */
        height: 50vh;
        font-size: clamp(5px, 3vw, 30px);
    }
}

@media (min-width: 500px) and (max-width: 768px) {

    .light-background .outer nav .nav1{
        width: 99vw !important;
    }

    .outer .nav1 .box12, .box13 , .box14 , .box15 , .box16  {
        height: 4vh;
        /* border: 1px red solid !important; */
        font-size: clamp(15px, 4vw, 20px) !important;
        width: 30vw;
        padding: 0% !important;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width:426px) and (max-width:608px) {
    .inner{
        padding-top: 1vh !important;
    }

    .faq-button{
        width: 15vw !important;
        top: 90vh !important;
    }
}

